<div class="contenedor">
    <div class="main-img">
        <div class="cuadro">
            <h3>Contact Us</h3>
            <p>We’re here to help! Contact us with any question and we will do our best to reply as soon as we can. </p>
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="formulario">
        <div class="container">
            <div class="row mt-5">
                <div class="col-4 info-contact">
                    <h5>Mailing address: </h5>
                    <p>500 Terry Francois Street <br> San Francisco, CA 94158</p>
                    <h5>Call us 24/7:</h5>
                    <p>Tel: 123-456-7890</p>
                    <h5>Or email us at:</h5>
                    <p>info@mysite.com</p>
                    <h5>Questions? <span>See Our FAQ ></span></h5>
                </div>
                <div class="col-8 formulario-us">
                    <form action="">
                        <label for="">Write to Us</label>
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Name">
                            <input type="text" name="" id="" class="form-control mt-3" placeholder="Email">
                            <textarea name="" id="" cols="30" rows="5" class="form-control mt-3" placeholder="Type your message here"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>