<div class="contenedor">
    <div class="row mt-3">
        <div class="col-12">
            Home/I'm a Product
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="row mt-4 mb-4">
        <div class="col-6 text-center">
            <div class="marcoFoto">
                <img [src]="product.img" alt="">
            </div>
        </div>
        <div class="col-6">
            <h2>{{product.product}}</h2>
            <small>SKU: 00{{product.id}}</small>
            <div class="price">${{product.price |number}}</div>
            <small>Quantity</small><br>
            <input type="number" name="" id="">
            <br>
            <button class="btn btn-block ">Add to Cart</button>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Product Info
                            </div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="div" *ngFor="let description of product.description">
                                *{{description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>