<div class="contenedor">
    <div class="navbar">
        <div class="primerNavBar">
            <div class="logo">
                <img src="./../../../../assets/img/logo.webp" alt="">
                <div class="nombrePagina">
                    <div class="main">Maxx<span>Cam</span></div>
                    <div class="sub">A Picture Perfect Camera Store</div>
                </div>
            </div>
            <div class="redes">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <div class="text">Log In</div>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
        </div>
        <div class="segundoNavbar">
            <ul class="navegacion">
                <li routerLink=''>Home</li>
                <li routerLink='products'>Shop</li>
                <li routerLink='faq'>FAQ</li>
                <li routerLink='contact-us'>Contact Us</li>
            </ul>
            <ul class="navContact">
                <li>
                    Call Us 1-800-000-0000
                </li>
            </ul>
        </div>
    </div>
</div>