<div class="contenedor">
    <div class="main-img">
        <div class="cuadro">
            <div class="title">PRICE</div>
            <div class="title-2">DROP!</div>
            <div class="sub">Up to 15% Off All Our Products!</div>
        </div>
        <button>Shop Now</button>
    </div>
</div>

<div class="contenedor">
    <div class="offers">
        <div class="garantia">
            <div class="texto">2 YEARS WARRANTY</div>
            <div class="texto-2">ON OUR ENTIRE <br> LENSES SELECTION</div>
        </div>

        <div class="newModels">
            <div class="rectangulo">
                <img src="./../../../assets/img/camera.webp" class="camera">
            </div>
            <div class="sub">New TIPOX Models</div>
            <div class="main">IN STOCK NOW !</div>
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="title-section">
        <div>Free Delivery in The US <span>\</span> Same Day Shipping</div>
    </div>
</div>

<div class="contenedor">
    <div class="camera-section">
        <div class="title-section">
            Digital Cameras
        </div>
        <div class="list-camera">
            <div class="camera-item" *ngFor="let camara of cameraProducts">
                <div>
                    <img [src]="camara.img" alt="">
                    <span (click)="GetIdToChange(camara.id)">Mostrar Detalles</span>
                </div>
                <span>{{camara.product}}</span>
                <span>${{camara.price |number}}</span>
            </div>
        </div>
    </div>

</div>

<div class="contenedor">
    <div class="camera-section">
        <div class="title-section">
            Lenses & Accesories
        </div>
        <div class="list-camera">
            <div class="camera-item" *ngFor="let accesorio of accesoriosProducts">
                <div>
                    <img [src]="accesorio.img" alt="">
                    <span (click)="GetIdToChange(accesorio.id)">Mostar Detalles</span>
                </div>
                <span>{{accesorio.product}}</span>
                <span>${{accesorio.price |number}}</span>
            </div>
        </div>
    </div>
</div>