.camera-section {
    width: 80%;
    margin: 0;
    padding: 0;
}

.row {
    width: 80%;
}

.camera-item {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.camera-item>span {
    padding: 10px;
    width: 100%;
    display: block;
    margin: auto;
}

.camera-item div {
    overflow: hidden!important;
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
}

.camera-item div * {
    position: absolute;
    overflow: hidden;
}

.camera-item>div>img {
    width: 100%;
    height: 100%;
    z-index: 2;
    box-sizing: border-box;
}

.camera-item>div>span {
    z-index: 3;
    display: block;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background: #ccc;
    opacity: 0.7;
    line-height: 50px;
    transition: 0.5s;
}

.camera-item>div:hover span {
    height: 20%;
    width: 100%;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.camera-item>div:hover img {
    transform: scale(2);
    transition: 0.5s;
}

.camera-item>div img {
    transition: 0.5s;
}