<div class="contenedor">
    <div class="footer">
        <div class="contactUs">
            <div class="title">Contact Us</div>
            <div class="address mt-3">500 Terry Francois Street San Francisco CA 94158 Tel: 123-456-7890</div>
            <div class="mail mt-3">info@mysite.com</div>
            <div class="redes mt-3">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>
        <div class="customerService">
            <div class="title">Customer Service</div>
            <div class="enlace mt-3"><span>Contact Us ></span> / Shipping ></div>
            <div class="enlace mt-3"><span>Returns ></span> / Payment & Warranty ></div>
        </div>
        <div class="weAccept">
            <div class="title">We Accept</div>
            <div class="tarjeta mt-2">
                <img src="./../../../../assets/img/mc.webp" alt="">
                <img src="./../../../../assets/img/visa.webp" alt="">
            </div>
        </div>
    </div>
</div>